/*------------------------------------------------------------------
 * Website Name: Hustbee
 * App URI: http://www.brandio.io/envato/hustbee
 * Author: Brandio
 * Author URI: http://www.brandio.io/
 * Description: 
 * Version: 1.0
 * Copyright 2018 Hustbee.
 -------------------------------------------------------------------*/
/*------------------------------------------------------------------
[Table of contents]

1 - General Styles
2 - Header Styles
3 - Top Content Styles
4 - Features Section Styles
5 - Pricing Section Styles
6 - Latest News Section Styles
7 - Domain Search Section Styles
8 - Support Links Section Styles
9 - Services Section Styles
10- Blog Section Styles
11 - Support Details Section Styles
12 - Questions Section Styles
13 - Contact Section Styles
14 - Domain Pricing Section Styles
15 - Domain Features Section Styles
16 - Plain Content Section Styles
17 - Other Sections Styles
18 - Footer Styles
19 - Responsive Styles

-------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700");

@import url("../fonts/hustbee.css");
/* -----------------------------------
    1 - General Styles
------------------------------------*/
*, body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

/* custom container */
.container-ex {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.rtl-row > div[class^="col-"] {
    float: right;
}

.row.custom-padding {
    margin-left: -35px;
    margin-right: -35px;
}

.row.custom-padding > div[class^="col-"] {
    padding-left: 35px;
    padding-right: 35px;
}

@media (max-width: 1200px) {
    .row.custom-padding {
        margin-left: -15px;
        margin-right: -15px;
    }

    .row.custom-padding > div[class^="col-"] {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (min-width: 480px) {
    .container-ex {
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .container-ex {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container-ex {
        max-width: 960px;
    }

    .row.same-height {
        display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;
    }

    .row.same-height.rtl-row {
        flex-direction: row-reverse;
    }
}

@media (min-width: 1200px) {
    .container-ex {
        max-width: 1330px;
    }
}

.badge {
    border-radius: 2px;
    padding: 3px 6px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
}

.badge.badge-primary {
    background-color: #007bff;
}

.badge.badge-secondary {
    background-color: #6c757d;
}

.badge.badge-success {
    background-color: #28a745;
}

.badge.badge-danger {
    background-color: #ff2400;
}

.badge.badge-warning {
    background-color: #ffc107;
}

.badge.badge-info {
    background-color: #58bafc;
}

.badge.badge-light {
    background-color: #f8f9fa;
}

.badge.badge-dark {
    background-color: #406177;
}

.hbtn {
    position: relative;
    display: inline-block;
    margin-right: 5px;
    padding: 8px 24px;
    font-weight: 500;
    font-size: 15px;
    color: #ffffff;
    border-radius: 25px;
    border: 0;
    outline: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}

.hbtn.hbtn-lg {
    padding: 10px 22px;
    font-size: 18px;
}

.hbtn.hbtn-primary {
    background-color: #57c8e7;
    color: #0c090d;
}

.hbtn.hbtn-primary:hover, .hbtn.hbtn-primary:focus {
    text-decoration: none;
    background-color: #57c8e7;
}

.hbtn.hbtn-default {
    background-color: #57c8e7;
    color: white;
}

.hbtn.hbtn-default:hover, .hbtn.hbtn-default:focus {
    color: black;
    text-decoration: none;
    background-color: #57c8e7;
}


label {
    font-size: 16px;
    font-weight: 400;
    color: #3b4155;
    margin-bottom: 8px;
}

.form-control {
    border: 1px solid #dce2ea;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 16px;
    color: #3b4155;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  /*margin-bottom: 15px;*/
}

.form-control:hover, .form-control:focus {
    border-color: #bcc8d7;
    color: #262a37;
    -webkit-box-shadow: none;
    box-shadow: none;
}

textarea {
    resize: none;
    height: 200px;
}

select.form-control {
    height: inherit !important;
}

.select-holder {
    position: relative;
    margin-bottom: 15px;
}

.select-holder select.form-control {
    width: 100%;
    margin-bottom: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select-holder:after {
    position: absolute;
    font-family: "hustbee" !important;
    content: "\62";
    top: 13px;
    right: 15px;
    pointer-events: none;
}

.form-row > .col, .form-row > [class*="col-"] {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 15px;
}

.form-row > .col:first-child, .form-row > [class*="col-"]:first-child {
    padding-left: 0;
}

.form-row > .col:last-child, .form-row > [class*="col-"]:last-child {
    padding-right: 0;
}

.login-register-form .form-holder .form-row > .col, .login-register-form .form-holder .form-row > [class*="col-"] {
    margin-bottom: 0;
}

.submit-holder {
    text-align: right;
}

.form-holder input[type="checkbox"], .form-holder input[type="radio"] {
    width: auto;
}

.form-holder input[type="checkbox"]:not(:checked), .form-holder input[type="checkbox"]:checked, .form-holder input[type="radio"]:not(:checked), .form-holder input[type="radio"]:checked {
    position: absolute;
    left: -9999px;
}

.form-holder input[type="checkbox"]:not(:checked) + label, .form-holder input[type="checkbox"]:checked + label, .form-holder input[type="radio"]:not(:checked) + label, .form-holder input[type="radio"]:checked + label {
    position: relative;
    padding-left: 21px;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    color: #8490AA;
    margin-right: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.form-holder input[type="checkbox"]:checked + label, .form-holder input[type="radio"]:checked + label {
    color: #5a667c;
}

.form-holder input[type="checkbox"]:checked + label:before, .form-holder input[type="radio"]:checked + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
    width: 13px;
    height: 13px;
    background: #384365;
    border-radius: 2px;
    border: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.form-holder input[type="checkbox"]:checked + label:hover:before, .form-holder input[type="checkbox"]:checked + label:focus:before, .form-holder input[type="radio"]:checked + label:hover:before, .form-holder input[type="radio"]:checked + label:focus:before {
    background: #262d44;
}

.form-holder input[type="checkbox"]:not(:checked) + label:before, .form-holder input[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
    width: 12px;
    height: 12px;
    background: #c8ccdb;
    border-radius: 2px;
    border: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.form-holder input[type="checkbox"]:not(:checked) + label:after, .form-holder input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.form-holder input[type="checkbox"]:not(:checked) + label:hover:before, .form-holder input[type="checkbox"]:not(:checked) + label:focus:before, .form-holder input[type="radio"]:not(:checked) + label:hover:before, .form-holder input[type="radio"]:not(:checked) + label:focus:before {
    background: #a9afc7;
}

.form-holder input[type="checkbox"]:not(:checked) + label:after, .form-holder input[type="checkbox"]:checked + label:after {
    content: "\64";
    font-family: "hustbee";
    position: absolute;
    top: 0.5rem;
    left: 0.19rem;
    font-size: 0.8rem;
    color: #ffffff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.form-holder input[type="radio"]:not(:checked) + label:after, .form-holder input[type="radio"]:checked + label:after {
    content: "";
    position: absolute;
    top: 7px;
    left: 4px;
    width: 5px;
    height: 5px;
    border-radius: 20px;
    background-color: #ffffff;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.form-holder input[type="radio"]:not(:checked) + label:before {
    border-radius: 10px;
}

.form-holder input[type="radio"]:checked + label:before {
    border-radius: 10px;
}

.form-holder label input[type="checkbox"]:not(:checked), .form-holder label input[type="checkbox"]:checked, .form-holder label input[type="radio"]:not(:checked), .form-holder label input[type="radio"]:checked {
    position: inherit !important;
    left: inherit !important;
}

body.fullpage {
    width: 100%;
    height: 100%;
    background-color: #111a2b;
}

.login-register-form {
    text-align: center;
    padding: 150px 0;
}

.login-register-form .form-holder {
    display: inline-block;
    width: 100%;
    max-width: 472px;
    text-align: left;
}

.login-register-form .form-holder .site-brand img {
    width: 100%;
    max-width: 122px;
}

.login-register-form .form-holder .form-title {
    text-align: right;
    font-size: 18px;
    color: #5288e8;
    border-radius: 20px;
    margin-bottom: 5px;
}

.login-register-form .form-holder .form-title img {
    width: 11px;
    vertical-align: middle;
    margin-top: -4px;
    margin-right: 8px;
}

.login-register-form .form-holder .form-head {
    padding-bottom: 75px;
}

.login-register-form .form-holder .form-links {
    text-align: center;
    font-size: 18px;
    color: #4c5465;
    padding-bottom: 55px;
}

.login-register-form .form-holder .form-links .link-to {
    font-size: 18px;
    color: #676e7b;
    text-decoration: none;
}

.login-register-form .form-holder .form-links .link-to:hover, .login-register-form .form-holder .form-links .link-to:focus {
    color: #737a89;
}

.login-register-form .form-holder .form-links .link-to.active {
    color: #5288e8;
}

.login-register-form .form-holder .form-links .link-to.active:hover, .login-register-form .form-holder .form-links .link-to.active:focus {
    color: #6997eb;
}

.login-register-form .form-holder label {
    font-weight: 400;
    font-size: 16px;
    color: #6a81ac;
}

.login-register-form .form-holder .form-control, .login-register-form .form-holder .field {
    color: #3b4155;
    border: 0;
    margin-bottom: 35px;
    height: inherit;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.login-register-form .form-holder .form-control:hover, .login-register-form .form-holder .form-control:focus, .login-register-form .form-holder .field:hover, .login-register-form .form-holder .field:focus {
    color: #5288e8;
    -webkit-box-shadow: inset 0 0 0 0.15rem #5288e8;
    box-shadow: inset 0 0 0 0.15rem #5288e8;
}

.login-register-form .form-holder a {
    font-size: 14px;
    color: #65728b;
}

.login-register-form .form-holder .forget-link {
    margin-bottom: -20px;
    vertical-align: middle;
    display: inline-block;
}

.login-register-form .form-holder .submit-holder [type="submit"] {
    border: 0;
    border-radius: 50px;
    background-color: #374154;
    font-weight: 500;
    font-size: 17px;
    color: #fff;
    outline: none;
    cursor: pointer;
    padding: 10px 34px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.login-register-form .form-holder .submit-holder [type="submit"]:hover, .login-register-form .form-holder .submit-holder [type="submit"]:focus {
    background-color: #2d3545;
}

/* ----------------------------------
    2 - Header Styles
-----------------------------------*/
#header-holder {
    position: relative;
    background-color: #111a2b;
    z-index: 10;

}

#header-holder .cloud-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../images/swenextbg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-brand {
    padding: 24px 15px;
}

.navbar-brand img {
    width: 122px;
}

nav.navbar .navbar-toggle {
    margin-top: 23px;
}

nav.navbar .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

nav.navbar .navbar-nav > li {
    padding: 14px 16px;
}

nav.navbar .navbar-nav > li > a {
    color: white;
    font-size: 20px;
    position: relative;
    padding: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

nav.navbar .navbar-nav > li > a:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: #57c8e7;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

nav.navbar .navbar-nav > li > a:hover, nav.navbar .navbar-nav > li > a:focus {
    background-color: transparent;
}

nav.navbar .navbar-nav > li > a:hover:after, nav.navbar .navbar-nav > li > a:focus:after {
    width: 100%;
}

nav.navbar .navbar-nav-centered {
    display: inline-block;
    float: none;
    margin-top: 14px;

}

nav.navbar .navbar-collapse-centered {
    text-align: right;

}

/* ----------------------------------
    3 - Top Content Styles
-----------------------------------*/
#top-content {
    padding-top: 35px;
    padding-bottom: 35px;
}

#top-content .page-title {
    font-size: 23px;
    font-weight: 700;
    color: #ffffff;
}

#top-content .page-title .title-with-icon {
    display: block;
    width: 100%;
    text-decoration: none;
    margin-bottom: 7px;
}

#top-content .page-title .title-with-icon .icon {
    width: 60px;
    height: 60px;
    background-color: #5993fa;
    display: inline-block;
    border-radius: 36px;
    text-align: center;
    vertical-align: middle;
    margin-right: 24px;
    padding-top: 10px;
}

#top-content .page-title .title-with-icon .icon img {
    width: 33px;
    -webkit-filter: grayscale(100%) brightness(130%);
    -moz-filter: grayscale(100%) brightness(130%);
    -ms-filter: grayscale(100%) brightness(130%);
    filter: grayscale(100%) brightness(130%);
}

#top-content .page-title .title-with-icon .text {
    font-size: 23px;
    font-weight: 700;
    color: #ffffff;
}

#top-content .page-subtitle {
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    margin-top: 10px;
}

#header-holder.innerpage.light-bg #top-content .page-title .title-with-icon .icon {
    background-color: #ffc600;
}

#header-holder.innerpage.light-bg #top-content .page-title .title-with-icon .icon img {
    width: 38px;
    -webkit-filter: grayscale(0%) brightness(100%);
    -moz-filter: grayscale(0%) brightness(100%);
    -ms-filter: grayscale(0%) brightness(100%);
    filter: grayscale(0%) brightness(100%);
}

.innerpage #top-content {
    padding-top: 55px;
    padding-bottom: 80px;
    text-align: center;
}

.innerpage #top-content.st-on-top {
    padding-bottom: 200px;
}

.innerpage #top-content.less-padding-bottom {
    padding-bottom: 35px;
}

.main-header .main {
    padding-top: 80px;
    padding-bottom: 80px;
}


.main-header .b-text {
    font-size: 80px;
    font-weight: 700;
    color: #ffffff;
    line-height: 64px;
    letter-spacing: 2px;
    margin-bottom: 35px;
}

.main-header .m-text {
    font-size: 23px;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: 55px;
}

.main-header .m-text .bold {
    font-weight: 700;
}

.main-header .img-holder {
    text-align: center;
}




/* ----------------------------------
    4 - Main Section Styles
-----------------------------------*/
.features {
    padding-bottom: 50px;
}

.features .def-aligned {
    text-align: right;
}

.features .feature-info {
    display: inline-block;
    padding: 60px 0;
    width: 100%;
    max-width: 470px;
    text-align: left;
}

.features .feature-info .feature-title {
    font-size: 33px;
    font-weight: 700;
    color: #333c4e;
    margin-bottom: 20px;
}

.features .feature-info .feature-text {
    font-size: 18px;
    font-weight: 300;
    color: #090a19;
    margin-bottom: 25px;
    width: 100%;
}

.features .img-holder {
    text-align: center;
    padding: 50px 0;
}

.features .img-holder img {
    width: 100%;
}

/* ----------------------------------
    5 - Events Section Styles
-----------------------------------*/


.eventscolumn {
    float: left;
    width: 33.3%;
    padding: 3%; 
  }
  
.eventscard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: white;
  }
  
.eventscontainer {
    padding: 0 16px;
  }
  
.eventscontainer::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }

@media screen and (max-width: 700px) {
    .eventscolumn {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
/*------------------------------------------------------------------
	10 - Blog Section Styles
-------------------------------------------------------------------*/
.blog {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

.post-box {
    display: inline-block;
    width: 100%;
    max-width: 1070px;
    margin-bottom: 80px;
}

.post-box .post-photo {
    margin-bottom: 30px;
}

.post-box .post-photo img {
    width: 100%;
}

.post-box .post-title {
    font-size: 27px;
    font-weight: 700;
    color: #4d5666;
    margin-bottom: 18px;
}

.post-box .post-summary {
    display: inline-block;
    width: 100%;
    max-width: 830px;
    font-size: 18px;
    font-weight: 300;
    color: #090a19;
    margin-bottom: 25px;
}

.post-box .post-content {
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    color: #090a19;
    margin-bottom: 25px;
}

.post-box .post-content p {
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    color: #090a19;
    margin-bottom: 25px;
}

.paging {
    text-align: center;
}

.paging .pagination {
    justify-content: center;
}

.pagination .page-item .page-link {
    margin: 0px 4px;
    line-height: 32px;
    color: #91a0bd;
    padding: 0;
    background-color: #eaebed;
    border: 0;
    width: 32px;
    height: 32px;
    border-radius: 30px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.pagination .page-item .page-link.prev, .pagination .page-item .page-link.next {
    line-height: 34px;
}

.pagination .page-item .page-link.prev i.hstb {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    font-size: 13px;
    margin-left: -4px;
}

.pagination .page-item .page-link.next i.hstb {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    font-size: 13px;
    margin-right: -4px;
}

.pagination .page-item .page-link:hover, .pagination .page-item .page-link:focus {
    color: #8192b3;
    background-color: #dcdee1;
}

.pagination .page-item.active .page-link {
    color: #111a2b;
    background-color: #ffc600;
}



/*------------------------------------------------------------------
	13 - Contact Section Styles
-------------------------------------------------------------------*/
/* SECTION WRAPPER */
.wrapper {
    width: 85%;
    margin: 0 auto;
  }
  
  /* FORM STYLES */
  
  label{
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.6;
    color: white;
  }
  input[type="text"],
  textarea {
    width: 80%;
    border: 1px solid #7dd4ec;
    background: #e4f4f8;
    margin-bottom: 2%;
    font-family: 'Poppins', sans-serif;
  }
  input[type="text"]{
    width: 70%;
  }
  input[type="email"],
  textarea {
    width: 80%;
    border: 1px solid #7dd4ec;
    background: #e4f4f8;
    margin-bottom: 2%;
    font-family: 'Poppins', sans-serif;
  }
  input[type="email"]{
    width: 70%;
  }
  
  input[type="submit"] {
    display: block;
    margin: 20px auto 50px;
    height: 34px;
    width: 125px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    background: #57c8e7;
    border: 0px solid;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1.25px;
  }
  input[type="submit"]:hover {
    opacity: 0.8;
    cursor: pointer;
  }

/*------------------------------------------------------------------
	17 - Other Sections Styles
-------------------------------------------------------------------*/


.text-box {
    color: white;
    margin-bottom: 25px;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.text-photo-sc .opposite {
    text-align: right;
}

.text-photo-sc.blue-bg .text-box p {
    color: #e1edff;
}

.text-photo-sc.darkblue-bg .text-box p {
    color: #bdc5d2;
}

.teamcolumn {
    float: left;
    width: 50%;
    padding: 5%; 
  }
  
  .teamcard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 10px;
  }
  
  .teamcontainer {
    padding: 0 16px;
  }
  
  .teamcontainer::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .teamcontactbutton {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #57c8e7;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-family: 'Poppins', sans-serif;
  }
  
  .teamcontactbutton:hover {
    opacity: 0.8;
  }

  @media screen and (max-width: 700px) {
    .teamcolumn {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  

/*------------------------------------------------------------------
    19 - Responsive Styles
-------------------------------------------------------------------*/

@media (max-width: 768px) {
    #header-holder .custom-bg {
        background-size: 70%;
    }

    .rtl-row div[class^="col-"] {
        float: inherit;
    }

    nav.navbar .navbar-collapse {
        text-align: center;
    }

    nav.navbar .navbar-nav {
        width: 100%;
        margin: 0;
    }

    nav.navbar .navbar-nav > li {
        padding: 10px 16px;
    }

    nav.navbar .navbar-nav > li > a:after {
        display: none;
    }

    nav.navbar .navbar-nav > li > a.dropdown-toggle {
        margin-bottom: 5px;
    }

    nav.navbar .navbar-nav > li.active > a {
        color: #ffc600;
    }

    nav.navbar .navbar-nav.other-navbar {
        display: inherit;
    }

    .features .img-holder {
        padding: 40px 0;
    }

    .features .img-holder img {
        max-width: 260px;
    }

    .features .feature-info {
        max-width: 100%;
    }

}