body {
    font-family: 'Poppins', sans-serif;
}

.text-uppercase {
    text-transform: none !important;
  }
  
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: black;
  }


.navbarlist {
    float: right;
  }
  
.navbarlist a {
    display: block;
    color: black;
    text-align: center;
    font-size: 100%;
    padding: 10px;
    text-decoration: none;
  }
  
.navbarlist a:hover:not(.active) {
    background-color: #f5f5f5;
    color: black;
  }
  
  .active {
    background-color: #57c8e7;
    color: white;
  }
  
  .no-gutters > .col, .no-gutters > [class*=col-] {
    padding-right: 10px;
    padding-left: 10px;
  }
  
 .logo{
     width: 100px;
     height: 30px;
 }
  
  header.masthead {
    padding-bottom: calc(10rem - 56px);
    background-position: 50%;
    background-size: cover;
  }
  
  @media only screen and (max-width: 700px) {
    #partner-logo {
      width: 120% !important;
    }
  }
  
  @media only screen and (max-width: 700px) {
    .service-box {
      max-width: 100%!important;
    }
  }
  
  hr {
    max-width: 50px;
    border-width: 3px;
    border-color: #343a40!important;
  }
  
a:link {
    text-decoration: none;
    color: black;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: gray;
  background-color: transparent;
}

.teamcolumn {
  float: left;
  width: 50%;
  padding: 5%; 
}

.teamcard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.teamcontainer {
  padding: 0 16px;
}

.teamcontainer::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.teamcontactbutton {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #57c8e7;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

.teamcontactbutton:hover {
  opacity: 0.8;
}

.eventscolumn {
  float: left;
  width: 33.3%;
  padding: 3%; 
}

.eventscard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.eventscontainer {
  padding: 0 16px;
}

.eventscontainer::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

*:focus {
  outline-color: #57c8e7;
}

/* SECTION WRAPPER */
.wrapper {
  width: 85%;
  margin: 0 auto;
}

/* FORM STYLES */

label{
  display: block;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.6;
}
input[type="text"],
textarea {
  width: 80%;
  border: 1px solid #7dd4ec;
  background: #e4f4f8;
  margin-bottom: 2%;
  font-family: 'Poppins', sans-serif;
}
input[type="text"]{
  width: 70%;
}
input[type="email"],
textarea {
  width: 80%;
  border: 1px solid #7dd4ec;
  background: #e4f4f8;
  margin-bottom: 2%;
  font-family: 'Poppins', sans-serif;
}
input[type="email"]{
  width: 70%;
}

input[type="submit"] {
  display: block;
  margin: 20px auto 50px;
  height: 34px;
  width: 125px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.5px;
  background: #57c8e7;
  border: 0px solid;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1.25px;
}
input[type="submit"]:hover {
  opacity: 0.8;
  cursor: pointer;
}